---
import '../styles/embla.css';
import ThemedImage from './util/ThemedImage.astro';
import Frame from './util/Frame.astro';
import hyprmcpLogsLight from '../assets/index/hyprmcp-logs-light.webp';
import hyprmcpLogsDark from '../assets/index/hyprmcp-logs-dark.webp';
import hyprmcpDashboardLight from '../assets/index/hyprmcp-dashboard-light.webp';
import hyprmcpDashboardDark from '../assets/index/hyprmcp-dashboard-dark.webp';
---

<script>
  import EmblaCarousel from 'embla-carousel';
  import Autoplay from 'embla-carousel-autoplay';

  const OPTIONS = {loop: true};

  const emblaNode = document.querySelector('.embla');
  const viewportNode = emblaNode.querySelector('.embla__viewport');

  const emblaApi = EmblaCarousel(viewportNode, OPTIONS, [
    Autoplay({playOnInit: true, delay: 5000}),
  ]);
</script>

<section class="embla">
  <div class="embla__viewport">
    <div class="embla__container">
      <div class="embla__slide">
        <div class="embla__slide__number py-6">
          <Frame title="app.hyprmcp.com">
            <ThemedImage
              lightSrc={hyprmcpDashboardLight}
              darkSrc={hyprmcpDashboardDark}
              alt="hyprmcp MCP Dashboard"
            />
          </Frame>
        </div>
      </div>
      <div class="embla__slide">
        <div class="embla__slide__number py-6">
          <Frame title="app.hyprmcp.com">
            <ThemedImage
              lightSrc={hyprmcpLogsLight}
              darkSrc={hyprmcpLogsDark}
              alt="hyprmcp MCP Logs"
            />
          </Frame>
        </div>
      </div>
      <div class="embla__slide">
        <div class="embla__slide__number py-6">
          <Frame title="app.hyprmcp.com">
            <ThemedImage
              lightSrc={hyprmcpDashboardLight}
              darkSrc={hyprmcpDashboardDark}
              alt="hyprmcp MCP Dashboard"
            />
          </Frame>
        </div>
      </div>
    </div>
  </div>
</section>
