---
import '../styles/embla.css';
import ThemedImage from './util/ThemedImage.astro';
import Frame from './util/Frame.astro';
import jetskiLogsLight from '../assets/index/jetski-logs-light.webp';
import jetskiLogsDark from '../assets/index/jetski-logs-dark.webp';
import jetskiDashboardLight from '../assets/index/jetski-dashboard-light.webp';
import jetskiDashboardDark from '../assets/index/jetski-dashboard-dark.webp';
---

<script>
  import EmblaCarousel from 'embla-carousel';
  import Autoplay from 'embla-carousel-autoplay';

  const OPTIONS = {loop: true};

  const emblaNode = document.querySelector('.embla');
  const viewportNode = emblaNode.querySelector('.embla__viewport');

  const emblaApi = EmblaCarousel(viewportNode, OPTIONS, [
    Autoplay({playOnInit: true, delay: 5000}),
  ]);
</script>

<section class="embla">
  <div class="embla__viewport">
    <div class="embla__container">
      <div class="embla__slide">
        <div class="embla__slide__number py-6">
          <Frame title="app.jetski.sh">
            <ThemedImage
              lightSrc={jetskiDashboardLight}
              darkSrc={jetskiDashboardDark}
              alt="jetski MCP Dashboard"
            />
          </Frame>
        </div>
      </div>
      <div class="embla__slide">
        <div class="embla__slide__number py-6">
          <Frame title="app.jetski.sh">
            <ThemedImage
              lightSrc={jetskiLogsLight}
              darkSrc={jetskiLogsDark}
              alt="jetski MCP Logs"
            />
          </Frame>
        </div>
      </div>
      <div class="embla__slide">
        <div class="embla__slide__number py-6">
          <Frame title="app.jetski.sh">
            <ThemedImage
              lightSrc={jetskiDashboardLight}
              darkSrc={jetskiDashboardDark}
              alt="jetski MCP Dashboard"
            />
          </Frame>
        </div>
      </div>
    </div>
  </div>
</section>
